<h1>
  Edit development #<%= @development.id %>
</h1>

<hr>

<form action="/update_development/<%= @development.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @development.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="trigger">
      Trigger
    </label>

    <textarea id="trigger" name="trigger" class="form-control" rows="3"><%= @development.trigger %></textarea>
  </div>

  <div class="form-group">
    <label for="action_id">
      Action
    </label>

    <%= select_tag(:action_id, options_from_collection_for_select(Action.all, :id, :action_type, @development.action_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update development
  </button>
</form>

<hr>

<a href="/developments">
  Go back
</a>
