<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Action #<%= @action.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/actions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/actions/<%= @action.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit action
        </a>
      </div>

      <div class="col">
        <a href="/delete_action/<%= @action.id %>" class="btn btn-block btn-outline-secondary">
          Delete action
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Action type
      </dt>
      <dd>
        <%= @action.action_type %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@action.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@action.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "action_templates/action_developments" %>
  </div>
</div>
